@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', serif;
}

body{
  background: #151827;
  width: 100vw;
  height: 100vh;
  color: white;
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(2, 1fr);
}

#body-pt1{
  padding: 0px 50px;
}

#body-pt2{
  display: flex;
  padding-top: 60px;
  justify-content: center;
  
  #menu-logo{
    width: 300px;
    height: 300px;
    justify-self: center;
  }
}

h1{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
  font-size: 40px;
  width: fit-content;
  height: 250px;
  margin-top: 10px;
  /* background: red; */
  
  .title1{
    position: relative;
    font-size: clamp(30px, 9vw, 40px);
    right: 30px;
    height: fit-content;
    top: 20px;
    align-self: end;
    /* background: blue; */
  }
  
  .title2{
    font-size: clamp(60px, 9vw, 80px);
    height: fit-content;
    white-space: nowrap;
    /* background: green; */
  }
  
  .title3{
    font-size: clamp(30px, 9vw, 40px);
    position: relative;
    justify-self: end;
    left: clamp(40px, 10vw, 125px);
    bottom: 20px;
    height: fit-content;
    /* background: red; */
    
  }
}

.lights{
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  box-shadow: 0px 0px 100px 100px #182137;
  width: 0px;
  height: 0px;
  background: red;
}

.light-title{
  top: 180px;
  left: 250px;
}

.light-code-logo{
  right: 390px;
  top: 250px;
  /* box-shadow: 0px 0px 100px 50px red; */
}

nav{
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin-top: 30px;
  
  #inp-menu:checked ~ #label-inp-menu{
    color: #344160;
    background: #FFFFFF;
  }
  
  #inp-tecnologias:checked ~ #label-inp-tecnologias{
    color: #344160;
    background: #FFFFFF;
  }
  
  #inp-projetos:checked ~ #label-inp-projetos{
    color: #344160;
    background: #FFFFFF;
  }
  
  #inp-contatos:checked ~ #label-inp-contatos{
    color: #344160;
    background: #FFFFFF;
  }
  
  label{
    background: #182137;
    padding: 5px;
    font-family: 16px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    transition: .3s;
    user-select: none;

    &:hover{
      transform: scale(1.05);
    }
  }
}

.texto-menu{
  width: 460px;
  margin-top: 10px;
  text-align: justify;
}

#rota{
  margin-top: 50px;
  width: 460px;
}

img{
  width: 100%;
  height: 100%;
}

@media (max-width: 950px){
  body{
    grid-template-columns: 1fr
  }
  
  #body-pt2{
    align-items: center;
  }

  h1{
    justify-self: center;
  }

  /* #body-pt1, #body-pt2{
    padding: 30px;
  } */

  nav{
    margin: 20px 0px;
    /* justify-self: center; */
  }

  #rota{
    margin: 30px 0px;
    /* justify-self: center; */
  }
}